* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline:none;
}

body {
	color: black;
	background-color: #E6E6FA;
}

#pageOne {
	/* border: 1px solid purple; */
}

#navbar {
	border: 2px solid black;
	justify-content: center;
	background-color: blue;
}

#navDirect {
	/* border: 1px solid black; */
}

#navOptions {
	list-style: none;
}

.list {
	display: inline-block;
	border: 1px solid black;
	margin: auto;
	width: 10%;
	text-align: center;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: white;
	/*FIX HOVER COLOR CHANGE*/
}

#guitar {
	width: 50%;
	border: 3px dotted black;
}

#bird {
	border: 2px solid yellow;
}

.cards {
	display: flex;
	justify-content: center;
}

#mainBody {
	display: flex;
	justify-content: center;
	margin-top: 115px;
}

#card1 {
	border: 1px solid black;
}
