* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline:none;
}

body {
	color: #f3f3f3;
	background-color: #f3f3f3;
}

#pageOne {
	/* border: 1px solid purple; */
	background-color: #27222e;
}

#navbar {
	border: 2px solid black;
	justify-content: center;
	background-color: #f3f3f3;
}

#navDirect {
	/* border: 1px solid black; */
}

#navOptions {
	display: flex;
	justify-content: center;
}

.list {
	display: inline-block;
	border: 1px solid black;
	margin: auto;
	width: 10%;
	text-align: center;
	/* font-size: 30px; */
}

a {
	text-decoration: none;
	color: #27222e;
	/*FIX HOVER COLOR CHANGE*/
}

#guitar {
	width: 50%;
	/* border: 3px dotted black; */
}

#bird {
	/* border: 2px solid yellow; */
}

.cards {
	/* display: flex;
	justify-content: center; */
	text-align: center;
	border: 1px dotted blue;
}

#mainBody {
	display: flex;
	/* justify-content: left; */
	margin-top: 85px;
	border: 5px dashed black;
}

#card1 {
	border: 1px solid black;
	text-align: center;
	margin-right: 15%;
}

.gallery {
	border: 2px solid blue;
	/* margin-bottom: 250px; */
	margin: 75px 0;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.sideScroll {
	display: inline-block;
	height: 250px;
}

.galleryDogs {
	margin: 1%;
}








#footBox {
	display: inline-block;
	border: 2px solid black;
	margin-bottom: 15px;
	background-color: #27222e;
}

.footLinks {
	border: 1px solid black;
	text-align: center;
}
