* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline:none;
}

body {
	color: black;
	background-color: #E6E6FA;
}

#pageOne {
	/* border: 1px solid purple; */
	background-color: orange;
}

#navbar {
	border: 2px solid black;
	justify-content: center;
	background-color: blue;
}

#navDirect {
	/* border: 1px solid black; */
}

#navOptions {
	list-style: none;
}

.list {
	display: inline-block;
	border: 1px solid black;
	margin: auto;
	width: 10%;
	text-align: center;
	/* font-size: 30px; */
}

a {
	text-decoration: none;
	color: white;
	/*FIX HOVER COLOR CHANGE*/
}

#guitar {
	width: 50%;
	border: 3px dotted black;
}

#bird {
	border: 2px solid yellow;
}

.cards {
	/* display: flex;
	justify-content: center; */
	text-align: center;
}

#mainBody {
	display: flex;
	/* justify-content: left; */
	margin-top: 85px;
	border: 5px dashed black;
}

#card1 {
	border: 1px solid black;
	text-align: center;
	margin-right: 15%;
}

#card2 {
	border: 1px dotted blue;
}

#card3 {
	margin: 75px 0;
	border: 4px dashed red;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#gallery {
	border: 2px solid blue;
	margin-bottom: 250px;
}

#sideScroll {
	display: inline-block;
	height: 200px;
}
